
<h1>Convert <%=@first_currency%></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @currency_hash.keys.each do |curr_code| %>
    <li>
       <a href="/<%=@first_currency%>/<%=curr_code%>">
        Convert 1 <%=@first_currency%> to <%=curr_code%> 
      </a>
    </li>
  <% end %>
</ul>
